	#container {
		display: flex;
		width: 100%;
	}

	.lane {
		height: 800px;
		max-height: 900px;
		border: solid 1px red;
		border-radius: 8px;
		margin: 5px;
		flex:1;
	}

	.label {
		border-bottom: solid 1px red;
		margin: 10px;
		text-align: center;
		flex: 1;
		height: 5%;
	}

	.inside-lane {
		height: 95%;
		/*background-color: black;*/
	}

	.cartela {
		border: solid 1px red;
		padding: 10px;		
		width: 80px;
		height: 80px;
		float:left;
		margin:5px;
		border-radius:6px;		
	}


	.inside-lane .label {		
		background-color: yellow;
	}

	#all-container {
		display: inline-flex;
		width: 100%;
	}

	#links {
		height: 800px;
		background-color: #f1f1f1;
	}

	#links ul li {
		list-style: none;
		margin: 10px;
		font-weight: bolder;
		font-size: 18px;
		color: green;
	}

	#links ul li a{
		text-decoration: none;
	}

	.projetos input {
		font-size: 16px;
		width: 200px;
		margin-top:20px;
		height: 40px;
	}